/* todos fundo da aplicação questionários */
body {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(355deg, #ddb095 0, #d3a793 10%, #c59b8e 20%, #b18e88 30%, #9a807e 40%, #7e7070 50%, #636161 60%, #4c5452 70%, #3a4945 80%, #2c4039 90%, #23392e 100%);
}

/* todos butttons de voltar dos questionários */
.back-pages-questioes {
    width: 35vh;
    height: 5vh;
    color: #dfc4c6;
    font-size: 3vh;
    margin: 2vh;
    border: none;
    border-radius: 20px;
    background-color: rgb(81, 94, 94);
    cursor: pointer;
}

.back-pages-questioes:hover {
    opacity: .8;
}

.back-pages-questioes:active {
    opacity: .5;
}

.h1-welcome {
    color: #fff;
    display: flex;
    justify-content: center;
    font-size: 5vh;
}

.container-div1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    border-radius: 20px;
    height: auto;
    margin: 0 auto;
    background-image: radial-gradient(circle at 51.07% 49.91%, #918d93 0, #b2aabe 25%, #8e88a4 50%, #a7a8aeb6 75%, #a6aedf 100%);
}

.div-das-perguntas {
    font-size: 3vh;
    width: 100%;
}

p {
    color: #100f0f;
    margin: 1vh;
}

ol {
    width: 100%;
}

li {
    margin-bottom: 2vh;
    color: aliceblue;
    background-color: rgba(17, 17, 18, 0.722);
    list-style: none;
    width: 95%;
    height: 5vh;
    padding: 1vh;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

li:hover {
    opacity: .8;
}

li:active {
    opacity: .5;
}

.div-buttons-finish-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5vh;
    margin-bottom: 3vh;
}

.button-start-quiz {
    width: auto;
    height: 5vh;
    font-size: 3vh;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 3vh;
}

.button-start-quiz:hover {
    opacity: .8;
}

.button-start-quiz:active {
    opacity: .5;
}

.Next-question {
    width: auto;
    height: 5vh;
    font-size: 3vh;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 3vh;

}

.Next-question:hover {
    opacity: .8;
}

.Next-question:active {
    opacity: .5;
}

.apaga {
    display: none;
}

@media screen and (max-width: 800px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        background-image: linear-gradient(355deg, #ddb095 0, #d3a793 10%, #c59b8e 20%, #b18e88 30%, #9a807e 40%, #7e7070 50%, #636161 60%, #4c5452 70%, #3a4945 80%, #2c4039 90%, #23392e 100%);
    }

    /* todos butttons de voltar dos questionários */
    .back-pages-questioes {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35vh;
        height: 5vh;
        color: #dfc4c6;
        font-size: 3vh;
        margin: -18vh auto 2vh auto;
        border: none;
        border-radius: 20px;
        background-color: rgb(81, 94, 94);
        cursor: pointer;
    }

    .back-pages-questioes:hover {
        opacity: .8;
    }

    .back-pages-questioes:active {
        opacity: .5;
    }

    .h1-welcome {
        color: #fff;
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 3vh;
        margin-bottom: 3vh;
    }

    .container-div1 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        border-radius: 20px;
        height: auto;
        margin: 0 auto;
        background-image: radial-gradient(circle at 51.07% 49.91%, #918d93 0, #b2aabe 25%, #8e88a4 50%, #a7a8aeb6 75%, #a6aedf 100%);
    }

    .div-das-perguntas {
        display: flex;
        flex-direction: column;
        font-size: 0vh;
        width: 99%;
    }

    p {
        display: flex;
        justify-content: flex-start;
        color: #100f0f;
        margin-bottom: 1vh;
        font-size: 1.5vh;
    }

    ol {
        padding: 0 0;
        display: flex;
        flex-direction: column;
        width: 95%;
        opacity: 1;
    }

    li {
        display: flex;
        margin-bottom: 1vh;
        color: aliceblue;
        background-color: rgb(17, 17, 18);
        list-style: none;
        width: 100%;
        height: 3vh;
        padding: 1vh;
        font-size: 1.5vh;
        border: none;
        border-radius: 10px;
        cursor: pointer;
    }

    li:hover {
        opacity: .8;
    }

    li:active {
        opacity: .5;
    }

    .div-buttons-finish-page {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5vh;
        margin-bottom: 3vh;
    }

    .button-start-quiz {
        width: 30vw;
        height: 5vh;
        font-size: 2vh;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        margin-top: 1.5vh;
    }

    .button-start-quiz:hover {
        opacity: .8;
    }

    .button-start-quiz:active {
        opacity: .5;
    }

    .Next-question {
        width: 40vw;
        height: 5vh;
        font-size: 2vh;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        margin-top: 1.5vh;
    }

    .Next-question:hover {
        opacity: .8;
    }

    .Next-question:active {
        opacity: .5;
    }

    .apaga {
        display: none;
    }

}