/* todos fundo da aplicação questionários */
body {
    width: 100%;
    height: 100%;
    background-color: #100f0f;

}

/* todos butttons de voltar dos questionários */
.back-pages-questioes {
    width: 35vh;
    height: 5vh;
    color: #dfc4c6;
    font-size: 3vh;
    margin: 2vh;
    border: none;
    border-radius: 20px;
    background-color: rgb(81, 94, 94);
    cursor: pointer;
}

.back-pages-questioes:hover {
    opacity: .8;
}

.back-pages-questioes:active {
    opacity: .5;
}

.h1-welcome {
    color: #fff;
    display: flex;
    justify-content: center;
    font-size: 5vh;
}

.container-div1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    border-radius: 20px;
    height: auto;
    margin: 0 auto;
    background-image: radial-gradient(circle at 51.07% 49.91%, #918d93 0, #b2aabe 25%, #8e88a4 50%, #a7a8aeb6 75%, #a6aedf 100%);
}

.div-das-perguntas {
    width: 100%;
}

p {
    display: flex;
    justify-content: center;
    color: #100f0f;
    margin: 1vh;
    font-size: 25px;
}

ol {
    display: flex;
    flex-direction: column;
    width: 92%;
}

li {
    display: flex;
    margin-bottom: 2vh;
    color: aliceblue;
    background-color: rgba(17, 17, 18, 0.722);

    list-style: none;
    width: 100%;
    height: auto;
    padding: 1vh;
    border: none;
    border-radius: 10px;
    cursor: pointer;

}

.disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed
}

li:not(:disabled):hover {
    opacity: .8;
}

li:active {
    opacity: .5;
}

.div-buttons-finish-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5vh;
    margin-bottom: 3vh;
}

.button-start-quiz {
    width: auto;
    height: 5vh;
    font-size: 3vh;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 3vh;
}

.button-start-quiz:hover {
    opacity: .8;
}

.button-start-quiz:active {
    opacity: .5;
}

.Next-question {
    width: auto;
    height: 5vh;
    font-size: 3vh;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 3vh;
    color: white;
    background-color: blue;
}

.Next-question:hover {
    opacity: .8;
}

.Next-question:active {
    opacity: .5;
}

.apaga {
    display: none;
}

.p-final {
    margin-top: 5%;
    font-size: 3vh;
}

span {
    font-size: 5vh;
}

.button-refazer {
    width: auto;
    height: 5vh;
    font-size: 2.5vh;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 3vh;
    margin-bottom: 5%;
    color: black;
    background-color: white;
}

.correto {
    background-image: none;
    background-color: #049b48;
}

.incorreto {
    background-image: none;
    background-color: #a10101;
}

@media screen and (max-width: 1025px) {
    body {
        display: flex;
        flex-direction: column;
        width: 95%;
    }

    /* todos butttons de voltar dos questionários */
    .back-pages-questioes {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35vh;
        height: 5vh;
        color: #dfc4c6;
        font-size: 3vh;
        margin: 0;
        padding: 0;
        border: none;
        border-radius: 20px;
        background-color: rgb(81, 94, 94);
        cursor: pointer;
        margin-bottom: 10%;
    }

    .back-pages-questioes:hover {
        opacity: .8;
    }

    .back-pages-questioes:active {
        opacity: .5;
    }

    .h1-welcome {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 150%;
        color: #fff;
        margin-bottom: 5%;
    }

    .container-div1 {
        width: 100%;
        border-radius: 20px;
        height: auto;
        margin: 0;
        padding: 0;
    }

    .div-das-perguntas {
        align-items: center;
        font-size: 0vh;
        width: 90%;
        margin: 0;
        padding: 0;
    }

    p {
        display: flex;
        justify-content: center;
        color: #100f0f;
        margin-bottom: 2%;
        font-size: 18px;
    }

    ol {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        opacity: 1;
        margin: 0;
        padding: 0;
    }

    li {
        display: flex;
        margin-bottom: 1vh;
        color: aliceblue;
        background-color: rgb(17, 17, 18);
        list-style: none;
        width: 100%;
        height: auto;
        padding: 1vh;
        font-size: 18px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
    }

    .disabled {
        pointer-events: none;
        opacity: 0.5;
        cursor: not-allowed;
    }


    li:hover {
        opacity: .8;
    }

    li:active {
        opacity: .5;
    }

    .div-buttons-finish-page {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5vh;
        margin-bottom: 3vh;
    }

    .button-start-quiz {
        width: 30vw;
        height: 5vh;
        font-size: 2vh;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        margin-top: 1.5vh;
    }

    .button-start-quiz:hover {
        opacity: .8;
    }

    .button-start-quiz:active {
        opacity: .5;
    }

    .Next-question {
        width: 40vw;
        height: 5vh;
        font-size: 2vh;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        margin-top: 1.5vh;
        color: white;
        background-color: blue;
    }

    .Next-question:hover {
        opacity: .8;
    }

    .Next-question:active {
        opacity: .5;
    }

    .apaga {
        display: none;
    }

    .p-final {
        margin-top: 5%;
        font-size: 3vh;
    }

    span {
        font-size: 5vh;
    }

    .button-refazer {
        width: auto;
        height: 5vh;
        font-size: 2.5vh;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        margin-top: 3vh;
        margin-bottom: 5%;
        color: black;
        background-color: white;
    }

    .correto {
        background-image: none;
        background-color: #049b48;
    }

    .incorreto {
        background-image: none;
        background-color: #a10101;
    }

}
