* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-main {
    width: 100vw;
    height: 100vh;
    padding-top: 100px;
}

.callback-home {
    display: flex;
    font-size: 2.5vh;
    font-weight: 600;
    margin: 1vh;
    width: auto;
    padding: 1vh;
    height: 5vh;
    border-radius: 15px;
    cursor: pointer;
    border: none;
}

.callback-home:hover {
    opacity: 0.8;
    transition: .4ss;
    background-color: rgba(0, 0, 0, 0.171);
    color: white;
}

.callback-home:active {
    opacity: 0.5;
}

h1 {
    color: rgb(240, 243, 247);
    font-size: 6vh;
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

.div-questions {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    gap: 50px;
}

img {
    border-radius: 15px;
    width: 17vw;
    height: 20vh;
}

.container-materia-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    color: aliceblue;
    font-size: 4vh;
    box-shadow: rgba(248, 243, 243, 0.35) 0px 5px 15px;
    padding: 30px 50px;
    border-radius: 10px;
}

.container-materia-1:hover {
    box-shadow: rgba(241, 3, 3, 0.966) 0px 5px 15px;
    background-color: rgba(7, 6, 6, 0.212);
    cursor: pointer;
}

.container-materia-1:active {
    opacity: 0.8;
}

.correto{
    background-image: none;
    background-color: #049b48;
}

.incorreto{
    background-image: none;
    background-color: #a10101;
}

@media screen and (max-width: 998px) {
    .container-main {
        height: 100%;
        width: 100vw;
        padding-top: 100px;
    }


    .callback-home {
        display: flex;
        font-size: 2.5vh;
        font-weight: 600;
        margin: 0 auto;
        width: auto;
        padding: 1vh;
        height: 5vh;
        border-radius: 15px;
        cursor: pointer;
        border: none;
    }

    .callback-home:hover {
        opacity: 0.8;
        transition: .5s;
    }

    .callback-home:active {
        opacity: 0.5;
    }


    h1 {
        color: rgb(240, 243, 247);
        font-size: 5vh;
        display: flex;
        justify-content: center;
        margin-bottom: 100px;
    }

    .div-questions {
        width: 50%;
        height: 20%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 50px;
        padding-bottom: 5vh;
    }

    img {
        border-radius: 15px;
        width: 40vw;
        height: 20vh;
    }

    .container-materia-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2vh;
        color: aliceblue;
        font-size: 4vh;
        box-shadow: rgba(248, 243, 243, 0.35) 0px 5px 15px;
        padding: 30px 50px;
        border-radius: 10px;
    }

    .container-materia-1:hover {
        box-shadow: rgba(241, 3, 3, 0.966) 0px 5px 15px;
        background-color: rgba(7, 6, 6, 0.212);
        cursor: pointer;
    }

    .container-materia-1:active {
        opacity: 0.8;
    }

    .correto{
        background-color: #049b48;
    }
    
    .incorreto{
        background-color: #a10101;
    }
}