* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-main {
    width: 100vw;
    height: 100vh;
    padding-top: 3%;
    background-image: radial-gradient(circle at 50.35% 48.7%, #4e5542 0, #454d3e 16.67%, #3d4339 33.33%, #343933 50%, #2d2f2d 66.67%, #272526 83.33%, #221d20 100%);
}

.callback-home {
    display: flex;
    font-size: 2.5vh;
    font-weight: 600;
    margin: 1vh;
    width: auto;
    padding: 1vh;
    height: 5vh;
    border-radius: 15px;
    cursor: pointer;
    border: none;
    background-color: white;
}

.callback-home:hover {
    opacity: 0.8;
    transition: .4ss;
    background-color: white;
    color: black;
}

.callback-home:active {
    opacity: 0.5;
}

h1 {
    color: rgb(240, 243, 247);
    font-size: 300%;
    display: flex;
    justify-content: center;
    margin: 5% 0;
}

.div-questions {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    gap: 50px;
}

img {
    border-radius: 15px;
    width: 100%;
    height: 20vh;
}

.container-materia-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    gap: 2vh;
    color: aliceblue;
    font-size: 4vh;
    box-shadow: rgba(248, 243, 243, 0.35) 0px 5px 15px;
    padding: 30px 50px;
    border-radius: 10px;
}

.container-materia-1:hover {
    box-shadow: rgba(241, 3, 3, 0.966) 0px 5px 15px;
    background-color: rgba(7, 6, 6, 0.212);
    cursor: pointer;
}

.container-materia-1:active {
    opacity: 0.8;
}

@media screen and (max-width: 998px) {
    .container-main {
        height: 100%;
        width: 100%;
        padding-top: 3%;
        background-image: radial-gradient(circle at 50.35% 48.7%, #4e5542 0, #454d3e 16.67%, #3d4339 33.33%, #343933 50%, #2d2f2d 66.67%, #272526 83.33%, #221d20 100%);
    }


    .callback-home {
        display: flex;
        justify-content: start;
        font-size: 2.5vh;
        font-weight: 600;
        /* margin: 0 auto; */
        width: auto;
        padding: 1vh;
        height: 5vh;
        border-radius: 15px;
        cursor: pointer;
        border: none;
    }

    .callback-home:hover {
        opacity: 0.8;
        transition: .5s;
    }

    .callback-home:active {
        opacity: 0.5;
    }


    h1 {
        color: rgb(240, 243, 247);
        font-size: 5vh;
        display: flex;
        justify-content: center;
        margin-bottom: 100px;
    }

    .div-questions {
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* margin: 0 auto; */
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 50px;
        padding-bottom: 5vh;
    }

    img {
        border-radius: 15px;
        width: 90%;
        height: 20vh;
    }

    .container-materia-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 2vh;
        color: aliceblue;
        font-size: 4vh;
        box-shadow: rgba(248, 243, 243, 0.35) 0px 5px 15px;
        padding: 30px 5%;
        border-radius: 10px;
    }

    .container-materia-1:hover {
        box-shadow: rgba(241, 3, 3, 0.966) 0px 5px 15px;
        background-color: rgba(7, 6, 6, 0.212);
        cursor: pointer;
    }

    .container-materia-1:active {
        opacity: 0.8;
    }
}
